# "Waarom volgt de zeemeeuw de vissersboot het meer op? Omdat hij denkt dat er
# sardientjes zullen worden gegooit." -- Eric Cantona 
#
# "As my late father used to # say, if reason fails, try force." -- Lady Violet

# The following files can be found in the shared folder, and restored if needed
# by commenting out the following.
_posts/2025-11-02-clarification.*
staticpages/pastschools.*
staticpages/oldprograms

_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock
*.swp
*.swo
